<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ECharger Helper needs your location to find nearby chargers on your route and determine your position along the Rotterdam-Santa Pola corridor.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>ECharger Helper needs your location to find nearby chargers on your route and determine your position along the Rotterdam-Santa Pola corridor.</string>
	<key>OpenChargeMapAPIKey</key>
	<string>cff5c9bb-2278-4f6f-84ef-177eb6011238</string>
</dict>
</plist>